html {
  height: 100%;
}

body {
  background: url("../images/skyline.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;
  color: white;
}

#main-navbar {
  color: #6E0C0C;
  font-size: 1.5rem;
  font-weight: 700;
}

#main-navbar .nav-link {
  color: white;
}

#main-navbar .nav-link:hover {
  color: #6E0C0C;;
}

#main-navbar .navbar-brand {
  color: #6E0C0C;
  font-size: 1.5rem;
  font-weight: 700;
}

#content {
  padding-top: 25%;
  text-align: center;
  text-shadow: 0px 4px 3px black;
}

hr {
  color: white;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  color: black;
  background: lightgrey;
  border: 2px solid grey;
}
