.clr {
  clear:both;
}

body {
  background-color: black;
}

h1, h2, h3, h4, h5 h6 {
  font-family: 'Major Mono Display', monospace;
  text-transform: lowercase;
}

p {
  font-family: 'Roboto', sans-serif;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:active, a:hover {
  color:yellow;
}

.header {
  border: 3px solid black;
  color: white;
  padding: 2%;
  text-align: center;
}

.welcome {
  background-color: black;
  border-top-width: 50%;
  border-top: 3px solid white;
  color: white;
  padding: 2%;
}

.welcome p {
  width: 95%;
  line-height: 1.5em;
}

.externalLinks {
  background-color: black;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  color: white;
  padding: 2%;
}

.btn-linkedin, .btn-github, .btn-resume, .btn-email {
  font-size: 30px;
}

.btn-resume {
  padding-left: 5px;
}
