body {
  font-family: "Nunito", sans-serif;
  color: white;
  background: black;
  font-size: 1.1rem;
  line-height: 2em;
  font-weight: 400;
}

#main-navbar {
  color: #6E0C0C;
  font-size: 1.5rem;
  font-weight: 700;
}

#main-navbar .nav-link {
  color: white;
}

#main-navbar .nav-link:hover {
  color: #6E0C0C;
}

#main-navbar .navbar-brand {
  color: #6E0C0C;
  font-size: 1.5rem;
  font-weight: 700;
}

.externalLinks {
  color: white;
  padding: 2%;
}

.btn-linkedin, .btn-github, .btn-resume, .btn-email {
  font-size: 30px;
}

.btn-resume {
  padding-left: 5px;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:active, a:hover {
  color: #6E0C0C;
  text-decoration: none;
}

hr {
  border-top: 1px solid white;
}

#bottom-nav {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}



/* #about-me, #about-me-content {
  border: 5px solid white;
} */
